
.watch-header {
    margin-top: 5px;
    margin-bottom: -10px;
    display: block;
}

.watch-time {
    font-size: 35px;
    font-weight: 900;
    display: block;
}
.watch-time.watch-time-large {
    font-size: 75px; 
}

.blink {
  animation: blink-animation 1s steps(1, start) infinite;
}
@keyframes blink-animation {
  50% {
    opacity: 0.25;
  }
}