/* www/css/watch/screens.css */

.message-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Oscurece un poco para legibilidad */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    z-index: 50;
}

.warning-icon {
    font-size: 3.5rem; /* Tamaño grande para el emoji o icono */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Si prefieres usar una imagen en lugar de emoji */
.warning-icon img {
    width: 60px;
    height: auto;
}

.message-text {
    font-size: 17;
    font-weight: 400;
    margin: 0;
}